
.footer{
    display: flex;
    flex-direction: column;
    margin-top: auto;    
}
.attached-top-footer{
    margin-left: 10%;
    width:80%;
    height:70px;
    display: flex;
    margin-top: -35px;
    justify-content: center;
    align-items: center;
    background-color: #ffb800;
    border-radius: 10px;
    z-index: 2;
}

.attached-top-footer input{
    width:50%;
    height:50%;
    border-radius: 15px;
    padding-left: 15px;
    font-size: 20px;
    border: 3px solid rgba(5, 18, 161, 0.571);;
    margin: 10px;
}
.attached-top-footer button{
    all: unset;
    margin-left: 1%;
}
.attached-top-footer button p{
    font-size: 26px;
}
.fixed-buttom-footer{
    display: flex;
    justify-content: space-evenly;
    background-color: #003566;
    margin-top: -40px;
    padding-top: 70px;
    z-index: 1;
}
@media screen and (max-width: 785px) {
    .fixed-buttom-footer div{ 
        margin: auto;
        width: 50%;
        padding: 10px;
    font-size: large;}
    .fixed-buttom-footer{
        display: flex;
    flex-direction: column ;
    justify-content: center;
    
}
}

.fixed-buttom-footer div{
    height: 100%;
    width:30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.fixed-buttom-footer div img{
    width:40%;
    height:40%;
    
}
p{
    font-size: 18px;
}

.fixed-buttom-footer div:nth-child(2){
    height: auto;
    justify-content: space-between;
    padding:30px 0px 20px 0px;
    align-items:center;
}
.map-section{
    justify-content: flex-start;
    width:100%;
    align-items: center;
    margin-top: -30px;
}

.map-section div{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}

.map-section div p{
    font-size: 14px;
    margin: 10px;
}

.fixed-buttom-footer p{
    color: white;
}
#quick-links-1,#quick-links-2{
    color: #ffb800;
}


.copyright-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffb800;
    height: 35px;
}
